section
  h4
    a(href="" ui-sref="layout_app.books.index")
      | Books
    span.grey-text.text-lighten-2 &nbsp;>&nbsp;
    a(href="" ui-sref="layout_app.books.show({bookId: Book.book.id})")
      | {{ Book.book.name }}

.divider

section
  p.quote-body.grey-text.text-darken-1.flow-text(style="margin-top:95px;margin-bottom:170px;")
    i.fa.fa-quote-left.grey-text.text-lighten-2 &nbsp;
    | {{ Quote.quote.body }}&nbsp;
    i.fa.fa-quote-right.grey-text.text-lighten-2

.divider

section
  .row
    form.col.s12(ng-if="user.admin"
      name="updatQuoteTagsForm"
      ng-submit="setTags(Quote.quote.tags)"
      novalidate)

      .row
        .input-field.col.s12
          input(ng-model="Quote.quote.tags" type="text" required)
          label(ng-class="{active: Quote.quote.tags}")
            | Tags

      .row
        .input-field.col.s12
          button.waves-effect.waves-light.blue.btn(type="submit")
            | Update

.divider

section
  p
    a.right.grey-text(href="" ng-click="Quote.next()")
      | Next&nbsp;
      i.fa.fa-angle-right
    a.left.grey-text(href="" ng-click="Quote.previous()")
      i.fa.fa-angle-left
      | &nbsp;Previous
