#show-quote-modal.modal
  .modal-content
    section
      h5
        i.fa.fa-book &nbsp;&nbsp;
        | {{ book.name }}

    .divider

    section
      p
        i.fa.fa-quote-left.grey-text.text-lighten-2 &nbsp;&nbsp;
        | {{ selectedQuote.body }} &nbsp;&nbsp;
        i.fa.fa-quote-right.grey-text.text-lighten-2

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="javascript:void(0)")
      | Close
    a.modal-action.text-red.waves-effect.waves-red.btn-flat.red-text.text-lighten-3(
      href="" ng-click="deleteQuote(book.id, selectedQuote.id)")
      i.fa.fa-trash &nbsp;
      | Delete
