div(ui-view="")

  h4
    a(href="" ui-sref="layout_app.books")
      | Books
    | - {{ Book.book.name }}

  section
    h4 {{ Quote.quotesCount }} Quotes

    table.hoverable.bordered
      tr.header.grey-text.text-lighten-1
        th
        th

      //- api will already return only quotes that are not deleted, but after
      //- the user deletes a quote, this will make it hidden from the list
      tr.body(ng-repeat="quote in Quote.quotes" ng-hide="quote.is_deleted")
        td
          p.quote-body.grey-text.text-darken-1
            i.fa.fa-quote-left.grey-text.text-lighten-2 &nbsp;
            | {{ quote.body }}&nbsp;
            i.fa.fa-quote-right.grey-text.text-lighten-2
        td
          a.grey-text.text-lighten-1(href="javascript:void(0)" ng-click="quoteModal(quote)")
            i.fa.fa-external-link
          a(href="" ui-sref="layout_app.books.show.quotes.show({bookId: Book.book.id, quoteId: quote.id})") | Permalink

  include _quote_show_modal