div(ui-view="")

  section

    h4.grey-text.text-darken-1
      | Books

  .divider(ng-style="{'margin-bottom': '20px'}")

  section
    p
      span(ng-repeat="label in Book.labels")
        a(href="" ng-click="Book.toggleLabelFilter(label)")
          i.fa(ng-class="{'fa-check-circle-o': Book.filters.labels.indexOf(label) !== -1,'fa-circle-o': Book.filters.labels.indexOf(label) === -1}") &nbsp;
          | {{ label }}
        span.grey-text(ng-hide="$last")
          | ,&nbsp;&nbsp;
  .divider(ng-style="{'margin-bottom': '50px'}")

  section

    table.hoverable.bordered
      tr.header.grey-text.text-lighten-1
        th Book
        th Author
        th Labels
        th Quotes

      tr.body(ng-repeat="book in Book.books" ng-hide="book.filteredOut")
        td
          a(href="" ui-sref="layout_app.books.show({bookId: book.id})")
            | {{ book.name }}
        td {{ book.author }}
        td
          span(ng-repeat="label in book.labels")
            | {{ label }}
            span(ng-hide="$last")
              | , &nbsp;
        td {{ book.quote_count }}

  a.btn.blue.lighten-5.blue-text.text-lighten-4(href=""
    ng-click="addingNew = !addingNew" ng-style="{'margin-top': '25px'}")
    | &nbsp;Add book&nbsp;
    i.fa.fa-plus-circle.right

  section(ng-if="user.admin" ng-show="addingNew")
    .row
      .col.s12
        .card.blue.lighten-5
          .card-content
            span.card-title.blue-text
              | Create new book

            form.col.s12(name="newBookForm"
              ng-submit="createBook(newBook);resetForm(newBookForm)"
              novalidate)

              .row
                .input-field.col.s4
                  input(ng-model="newBook.name" type="text" required)
                  label Name

                .input-field.col.s4
                  input(ng-model="newBook.author" type="text" required)
                  label Author

                .input-field.col.s4
                  input(ng-model="newBook.asin" type="text" required)
                  label ASIN

              .row
                .input-field.col.s12
                  button.waves-effect.waves-light.blue.lighten-4.blue-text.btn(type="submit"
                    ng-class="{disabled: newBookForm.$invalid}")
                    | Create new Book
