/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #eaeaea;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  color: #757575;
}

a {
  color: #757575;
}

#wrap {
  max-width:600px;
  margin:0 auto;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  line-height: 32px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
}

p.body {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 45px 0 45px 0;
}

p.meta {
  font-size: 1em;
  line-height: 1.2em;
  opacity: 0.8;
}

.util {
  float: right;
  font-family: arial;
  font-size: 0.6em;
  line-height: 32px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  height: 32px;
  border: 1px solid #e1e1e1;
  padding: 0 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: normal;
}

.btn:hover {
  background: #e4e4e4;
  border-color: #d2d2d2;
}

.show-soft {
  opacity: 0.4;
}

.permalink {
  text-decoration: none;
  opacity: 0.3;
}

.permalink:hover {
  text-decoration: underline;
  opacity: 0.55;
}

#footer {
  display: none;
  text-align: center;
  margin: 90px 0 40px;
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
}

#footer a {
  text-decoration: none;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #929292;
  font-family: arial;
  opacity: 0.6;
}

#footer a:hover {
  text-decoration: underline;
  opacity: 1;
}